@model ClassicGarageArkBar.Models.RepairsModels

@{
    ViewBag.Title = "Details";
}

<div class="row panel panel-primary">
    <div class="panel-heading">
        <h5> @Model.Name</h5>
    </div>
    <div class="panel-body col-sm-8 ">
        Description: @Model.Description <hr />
        <h4>  Repair Price: @Model.RepairPrice $</h4>

        <h3>Car part's data:</h3><hr />
        Brand: @ViewBag.CarBrand<hr />
        Model: @ViewBag.CarModel<hr />
        VIN: @ViewBag.CarVIN<hr />
        Series: @ViewBag.CarSeries<hr />
    </div>
</div>


<p>
    @Html.ActionLink("Back to List", "Index")
</p>