@model IEnumerable<ClassicGarageArkBar.Models.RepairsModels>
@{
    ViewBag.Title = "MyIndex";
}

@{
    ViewBag.Title = "Repairs";
}

@foreach (var m in Model)
{
    <div class="row panel panel-primary">
        <div class="panel-heading">
            <h5> @m.Name</h5>
        </div>
        <div class="panel-body col-sm-8 ">
            Description: @m.Description <hr />
            <h4>  Repair Price: @m.RepairPrice $</h4>

            @Html.ActionLink("Edit", "Edit", new { id = m.ID }) <hr />
            @Html.ActionLink("Delete", "Delete", new { id = m.ID })<hr />
            @Html.ActionLink("Details", "Details", new { id = m.ID })<hr />

        </div>
    </div>
}
