@model ClassicGarageArkBar.Models.PartsModels

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>PartsModels</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.IdCar)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IdCar)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CatalogNr)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CatalogNr)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PurchasePrice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PurchasePrice)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SellingPrice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SellingPrice)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PurchaseDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PurchaseDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SellingDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SellingDate)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
