@model IEnumerable<ClassicGarageArkBar.Models.PartsModels>

@{
    ViewBag.Title = "All Parts";
}

<h2>Parts</h2>

@foreach (var m in Model)
{
    <div class="row panel panel-primary">
        <div class="panel-heading">
            <h5> @m.Name</h5>
        </div>
        <div class="panel-body col-sm-8 ">
            <label class="control-label col-md-2"> Catalog Nr:</label> @m.CatalogNr <hr />
            <label class="control-label col-md-2"> Descrption:</label> @m.description <hr />

            @Html.ActionLink("Details", "Details", new { id = m.ID })<hr />

            <h4>  Part Price: @m.SellingPrice $</h4>
        </div>
    </div>
}