@model IEnumerable<ClassicGarageArkBar.Models.PartsModels>


@{
    ViewBag.Title = "My Parts";
}

<h2>My Parts</h2>

@foreach (var m in Model)
{
    <div class="row panel panel-primary">
        <div class="panel-heading">
            <h5> @m.Name</h5>
        </div>
        <div class="panel-body col-sm-8 ">
            Catalog Nr: @m.CatalogNr <hr />
            Descrption: @m.description <hr />


            @Html.ActionLink("Edit", "Edit", new { id = m.ID }) <hr />
            @Html.ActionLink("Delete", "Delete", new { id = m.ID })<hr />
            @Html.ActionLink("Details", "Details", new { id = m.ID })<hr />

            <h4>  Part Price: @m.SellingPrice $</h4>
        </div>
    </div>
}