@model ClassicGarageArkBar.Models.CarsModels

@{
    ViewBag.Title = "Car Details";
}

<div class="row panel panel-primary">
    <div class="panel-heading">
        <h5> @Model.Brand</h5>
    </div>
    <div class="panel-body col-sm-8 ">
        Model: @Model.Model <hr />
        Year of production: @Model.YearOfProduction <hr />
        Vin: @Model.VIN <hr />

        <h4>  Price: @Model.SellingPrice $</h4>
    </div>

    <div class="col-sm-4">
        <img src="@Model.PhotoURL" class="img-rounded left" style="height: 100%; width: 100%; object-fit: contain">
    </div>
</div>
    

<p>
    @Html.ActionLink("Back to List", "Index")
</p>
