@model IEnumerable<ClassicGarageArkBar.Models.CarsModels>

@{
    ViewBag.Title = "My Cars";
}

<h3> Cars </h3>

@foreach (var m in Model)
{
    <div class="row panel panel-primary">
        <div class="panel-heading">
            <h5> @m.Brand</h5>
        </div>
        <div class="panel-body col-sm-8 ">
            Model: @m.Model <hr />
            Year of production: @m.YearOfProduction <hr />
            Vin: @m.VIN <hr />

            @Html.ActionLink("Edit", "Edit", new { id = m.ID }) <hr />
            @Html.ActionLink("Delete", "Delete", new { id = m.ID })<hr />
            @Html.ActionLink("Details", "Details", new { id = m.ID })<hr />
            <h4>  Price: @m.SellingPrice $</h4>
        </div>

        <div class="col-sm-4">
            <img src="@m.PhotoURL" class="img-rounded left" style="height: 100%; width: 100%; object-fit: contain">
        </div>
    </div>
}





